{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}
{% include 'Partials/header.twig' %}

<section>
    <div class="articles">
        <div class="row">
            {% for article in articlesBySearch %}
            <div class="article">
                <table class="article-table">
                    <tr>
                        <td><img src="{{ article.image }}" alt="{{ article.title }}" width="250" height="300"/></td>
                    </tr>
                    <tr>
                        <th>
                            <a href="{{ article.url }}" style="text-decoration: underline; color: blue;">
                                <div>{{ article.title }}</div>
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <td>{{ article.pubslishedAt }}</td>
                    </tr>
                </table>
            </div>
            {% if loop.index is divisible by(4) or loop.last %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% include 'Partials/footer.twig' %}

